<input [(ngModel)]="channelName" placeholder="Enter channel name">
<button (click)="createChannel()">Create Channel</button>
<ul>
    <li *ngFor="let channel of channels">
      {{ channel.name }}
    </li>
</ul>

<!-- Existing code for displaying channels -->
<div *ngFor="let channel of channels">
    <a [routerLink]="['/channels', channel._id]">{{ channel.name }}</a>
</div>

<!-- Chat Area -->
<div class="chat-area">
    <div class="messages">
        <!-- Display messages here. This will be populated dynamically -->
        <div *ngFor="let msg of chatMessages">
          <div *ngIf="msg.type === 'notification'">
              <em>{{ msg.content }}</em>
          </div>
          <div *ngIf="msg.type !== 'notification'">
              <strong>{{ msg.sender.username }}:</strong> {{ msg.content }}
          </div>
      </div>
    </div>

    <!-- Input for typing messages -->
    <div class="input-area">
        <input [(ngModel)]="newMessage" placeholder="Type a message...">
        <button (click)="onSendMessage(newMessage)">Send</button>
    </div>
</div>



  